h1 {
  font-weight: lighter;
  overflow-wrap: wrap;
  font-size: 50px;
}

h3 {
  font-weight: 100;
  font-size: 25px;
}

.header {
  display: flex;
}

.header-img {
  width: 100%;
}

.head-left {
  flex: 1;
}
.head-right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.head-text {
  text-align: right;
}

.border-right {
  border-right: solid 2px #064420;
  padding-right: 20px;
}

.head-links {
  font-size: 65%;
  text-align: left;
  flex-wrap: nowrap;
  word-spacing: 5%;
  margin-top: 20%;
}

.arrow {
  vertical-align: middle;
}

.arrow:hover {
  opacity: 0.5;
}

.me {
  width: 30%;
}

.about-me {
  text-align: left;

  width: 50%;
  font-size: 150%;
}

.middle-section {
  background: #faf1e6;
  margin-top: 40px;
}
